Repository mwolson/eglot-python-preset: changes, and which lefthook commands are due for each by the changed paths.
All: md-format, yaml-format

lefthook.yaml:

.common-excludes: &common_excludes
  - "/test"
  - "**/node_modules"

pre-commit:
  parallel: true
  output: true
  commands:
    md-format:
      priority: 1
      glob: "*.md"
      exclude: *common_excludes
      run: mise x -- pnpm run fix:md:file {staged_files}
      stage_fixed: true
    yaml-format:
      priority: 1
      glob: "*.yaml"
      exclude: *common_excludes
      run: mise x -- bun run fix:yaml:file {staged_files}
      stage_fixed: true

fix: change example script dep to python >=3.10, min ty version
  eglot-python-preset.el
  mise.toml
  test/pep-723/example.py
Due: none

chore(github): Install deps earlier; package: add init:hooks
  .github/workflows/melpazoid.yml
  package.json
Due: none

doc: add initial README content
  README.md
Due: md-format

chore: fix melpazoid problems, space out docstrings
  eglot-python-preset.el
Due: none

fix: windows fixes and tests
  .editorconfig
  AGENTS.md
  README.md
  eglot-python-preset.el
  test/pep-723/example-1.py
  test/pep-723/example-2.py
  test/pep-723/test.el
Due: md-format

feat: allow changing workspace config for basedpyright
  README.md
  eglot-python-preset.el
  test/pep-723/test.el
Due: md-format

feat: eglot-workspace-configuration and python-base-mode
  README.md
  eglot-python-preset.el
  test/pep-723/test.el
Due: md-format

refactor: use advice on eglot--workspace-configuration-plist
  AGENTS.md
  eglot-python-preset.el
  plans/pep-723.md
  test/pep-723/test.el
Due: md-format

docs: add release process to AGENTS.md
  AGENTS.md
Due: md-format

chore: bump version to 0.2.0
  eglot-python-preset.el
  package.json
Due: none

docs: improve release notes guidance in AGENTS.md
  AGENTS.md
Due: md-format

chore: ability to byte-compile files as a check, failing on warnings
  .github/workflows/melpazoid.yml
  AGENTS.md
  lefthook.yaml
  package.json
  scripts/byte-compile-local.el
  scripts/byte-compile.sh
  scripts/include.sh
Due: md-format, yaml-format

fix: byte-compilation warnings
  eglot-python-preset.el
Due: none

docs: improve release process in AGENTS.md
  AGENTS.md
Due: md-format

chore: bump version to 0.2.1
  eglot-python-preset.el
  package.json
Due: none

docs: update README for MELPA availability
  README.md
Due: md-format

chore: bump version to 0.2.2
  eglot-python-preset.el
  package.json
Due: none

fix: skip project detection for indirect markdown buffers
  eglot-python-preset.el
Due: none

docs: clarify version bump should be a separate commit
  AGENTS.md
Due: md-format

chore: bump version to 0.2.3
  eglot-python-preset.el
  package.json
Due: none

chore: bump version to 0.3.0
  eglot-python-preset.el
  package.json
Due: none

test: guard uv script environment cleanup
  test/pep-723/test.el
Due: none

feat: allow overriding rass command
  README.md
  eglot-python-preset.el
  test/test.el
Due: md-format

docs: note tested rass version
  README.md
Due: md-format

feat: add safe-local-variable support for per-project configuration
  README.md
  eglot-python-preset.el
  plans/per-project-config.md
  test/test.el
Due: md-format

fix: gate project-find on eglot-lsp-context for correct project-find-file
  eglot-python-preset.el
  test/fixtures/monorepo/backend/app.py
  test/fixtures/monorepo/frontend/.gitignore
  test/fixtures/monorepo/frontend/pyproject.toml
  test/fixtures/monorepo/frontend/src/main.py
  test/fixtures/pep-723-example-1.py
  test/fixtures/pep-723-example-2.py
  test/test.el
Due: none

fix: resolve package-lint error for melpazoid CI
  eglot-python-preset.el
  scripts/package-lint-local.el
  test/test.el
Due: none

test: assert exact diagnostic codes in live tests
  test/rass-live-client.py
  test/test.el
Due: none

test: add fixture files and improve live test assertions
  test/fixtures/basedpyright/unresolved-import.py
  test/fixtures/basedpyright/valid.py
  test/fixtures/ruff/pyproject.toml
  test/fixtures/ruff/unused-import.py
  test/fixtures/ruff/valid.py
  test/fixtures/ty/unresolved-import.py
  test/fixtures/ty/valid.py
  test/rass-live-client.py
  test/test.el
Due: none

feat: add check:melpa:all script
  package.json
Due: none

docs: mention check:melpa:all in AGENTS.md
  AGENTS.md
Due: md-format

feat: add test:all to check:melpa:all script
  AGENTS.md
  package.json
Due: md-format

Add non-PEP fixtures and ruff-ty test directory
  test/fixtures/basedpyright/pep-unresolved-import.py
  test/fixtures/basedpyright/pep-valid.py
  test/fixtures/basedpyright/pyproject.toml
  test/fixtures/ruff-ty/.dir-locals.el
  test/fixtures/ruff-ty/pep-unresolved-import.py
  test/fixtures/ruff-ty/pep-valid.py
  test/fixtures/ruff-ty/pyproject.toml
  test/fixtures/ruff-ty/unresolved-import.py
  test/fixtures/ruff-ty/valid.py
  test/fixtures/ty/pep-unresolved-import.py
  test/fixtures/ty/pep-valid.py
  test/fixtures/ty/pyproject.toml
  test/fixtures/ty/unresolved-import.py
  test/fixtures/ty/valid.py
  test/test.el
Due: none

fix: scope project-find to Python modes in polyglot projects
  eglot-python-preset.el
  test/test.el
Due: none

feat: add streaming diagnostics, customizable modes, and basedpyright+ruff tests
  README.md
  eglot-python-preset.el
  test/fixtures/basedpyright-ruff/.dir-locals.el
  test/fixtures/basedpyright-ruff/pep-unresolved-import.py
  test/fixtures/basedpyright-ruff/pep-valid.py
  test/fixtures/basedpyright-ruff/pyproject.toml
  test/fixtures/basedpyright-ruff/unresolved-import.py
  test/fixtures/basedpyright-ruff/valid.py
  test/test.el
Due: md-format

chore: bump version to 0.4.0
  eglot-python-preset.el
  package.json
Due: none

feat: auto-setup via autoloaded hook with opt-out defcustom
  README.md
  eglot-python-preset.el
  test/test.el
Due: md-format

fix: add reentrant guard to prevent recursive require during auto-setup
  eglot-python-preset.el
Due: none

fix: filter informational Emacs messages in byte-compile check
  scripts/byte-compile.sh
Due: none

docs: add see-also link to eglot-typescript-preset
  README.md
Due: md-format
