Repository mwolson/eglot-python-preset: changes, and which lefthook commands are due for each by the changed paths.
All: check, md-format, yaml-format

check:
  priority: 2
  run: mise x -- bun run check

md-format:
  priority: 1
  run: mise x -- bun run fix:md:file {staged_files}
  stage_fixed: true

yaml-format:
  priority: 1
  run: mise x -- bun run fix:yaml:file {staged_files}
  stage_fixed: true

docs: better package-vc examples
  README.md
Due: md-format

docs: clarify README package-vc installation
  README.md
Due: md-format

docs: remove outdated MELPA note
  README.md
Due: md-format

docs: add GNU Emacs badge
  README.md
  assets/badges/made-for-gnu-emacs.svg
Due: md-format

docs: fix GNU Emacs badge SVG
  assets/badges/made-for-gnu-emacs.svg
Due: none

ci: use default mise paths for GitHub Actions runner
  .github/workflows/melpazoid.yml
Due: none

Mention vcupp in package-vc installation section
  README.md
Due: md-format

Fix byte-compile hook failure when package is already installed
  scripts/byte-compile-local.el
Due: none

fix: stop byte-compile check from deleting the installed elpa package
  .gitignore
  scripts/byte-compile-local.el
Due: none

doc: add "Why to use" and "Why not to use" sections to README
  README.md
Due: md-format

doc: add use-package with load-path example to manual installation
  README.md
Due: md-format

chore: bump version to 0.6.0
  eglot-python-preset.el
  package.json
Due: check

feat: add zuban support
  README.md
  eglot-python-preset.el
  test/fixtures/zuban-ruff/.dir-locals.el
  test/fixtures/zuban-ruff/pyproject.toml
  test/fixtures/zuban-ruff/type-error.py
  test/fixtures/zuban-ruff/unresolved-import.py
  test/fixtures/zuban-ruff/valid.py
  test/fixtures/zuban/.dir-locals.el
  test/fixtures/zuban/pyproject.toml
  test/fixtures/zuban/type-error.py
  test/fixtures/zuban/unresolved-import.py
  test/fixtures/zuban/valid.py
  test/test.el
Due: check, md-format

chore: bump version to 0.7.0
  eglot-python-preset.el
  package.json
Due: check

feat: make rass generated directory configurable
  README.md
  eglot-python-preset.el
  test/test.el
Due: check, md-format

chore: bump version to 0.8.0
  eglot-python-preset.el
  package.json
Due: check

docs(release): Clarify release note guidance
  AGENTS.md
Due: md-format

test(fixtures): Preserve dir-locals in scenario setup
  AGENTS.md
  test/test.el
Due: md-format

chore: bump version to 1.0.0
  eglot-python-preset.el
  package.json
Due: check

Path conditions:
  check: any of: eglot-python-preset.el, but not: /test, **/node_modules
  md-format: any of: *.md, but not: /test, **/node_modules
  yaml-format: any of: *.yaml, but not: /test, **/node_modules
